<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button>
                <ion-menu-button></ion-menu-button>
            </ion-button>
        </ion-buttons>
        <ion-title text-center>
            IT reclamos
        </ion-title>
        <ion-buttons slot="end">
            <ion-button>
                <ion-icon name="add"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
    <ion-toolbar mode="ios">
        <ion-tab-bar>
            <ion-tab-button>
                <ion-icon name="send"></ion-icon>
                <ion-label>Buzon</ion-label>
            </ion-tab-button>
            <ion-tab-button routerLink="/bandeja">
                <ion-icon name="mail"></ion-icon>
                <ion-label>Like</ion-label>
            </ion-tab-button>
            <ion-tab-button (click)="codigo()">
                <ion-icon name="person"></ion-icon>
                <ion-label>Entrar</ion-label>
            </ion-tab-button>
        </ion-tab-bar>
    </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
    <div class="fondo">
        <div style="width: 100%; height: 100%; background: #000000; opacity: 0.2;"></div>
    </div>
    <br>
    <br>


    <div style="background: #ffffff; margin:50px 40px 50px 40px; padding:0 0 50px 0; height: 500px;">
        <ion-item lines="none">
            <ion-label position="floating">Nombre</ion-label>
            <ion-input [(ngModel)]="sender.name" type="text"></ion-input>
        </ion-item>
        <ion-item lines="none">
            <ion-label position="floating">Apellido</ion-label>
            <ion-input [(ngModel)]="sender.lastName" type="text"></ion-input>

        </ion-item>
        <ion-item lines="none">
            <ion-textarea [(ngModel)]="sender.descripcion" placeholder="Descripción"></ion-textarea>
        </ion-item>
        <ion-item>
            <ion-buttons>
                <ion-button (click)="sender.comentario=true" slot="start" fill="clear" size="small">
                    <ion-icon name="thumbs-up"></ion-icon>
                </ion-button>
                <ion-button (click)="sender.comentario=false" slot="end" fill="clear" size="small">
                    <ion-icon name="thumbs-down"></ion-icon>
                </ion-button>
            </ion-buttons>
        </ion-item>
        <ion-button (click)="sent()" expand="block" shape="round" color="success">Enviar</ion-button>
    </div>

</ion-content>